# git files
.gitignore
.git/

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Locally installed packages
.venv/
**/node_modules/

# Development junk
dev/
data/
static/
**/*.sw?
**/*.zip
.tox
