django~=2.0.0
django-storages~=1.6.5
django-ses~=0.8.5
dj-database-url
boto3~=1.6.23

wagtail~=2.0.0
wagtail-metadata~=2.0.0

pillow==4.3.0  # Version from alpine linux
olefile==0.43  # Version from alpine linux
pygments~=2.7.4

psycopg2~=2.7.4
pytest~=3.6.2
