
$font-headings: 'Spectral SC', serif;
$font-body: sans-serif;

$spacing-1x: 1rem;
$typography-vertical-spacing: $spacing-1x;

// From https://coolors.co/493548-4b4e6d-6a8d92-80b192-a1e887
$colour-gunmetal: #27233a;
$colour-independence: #505168;
$colour-ash-grey: #b3c0a4;
$colour-eggshell: #eaefd3;
$colour-pale-gold: #dcc48e;
